@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* background-color: #17a2b8; */
  background-image: linear-gradient(to right, #ff9f4a, #ff3c83);
}
.text,
.key-code,
.key-name {
  font-size: 45px;
  color: #ff3c83;
  font-weight: 500;
}
.text {
  font-size: 15px;
  text-align: center;
  margin-bottom: 10px;
}
.box.active .text {
  display: none;
}
.box {
  width: 290px;
  padding: 25px;
  border-radius: 15px;
  background: #fff;
}
.content,
.key-code,
.details {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box .content {
  display: none;
  flex-direction: column;
}
.box.active .content {
  display: flex;
}
.content .key-code {
  height: 110px;
  width: 110px;
  margin-bottom: 15px;
  border-radius: 50%;
  border: 5px solid #ff3c83;
}

.content .details {
  width: 100%;
  margin-top: 15px;
  justify-content: space-evenly;
}
.details p {
  width: 100%;
  font-size: 18px;
  text-align: center;
}
.details p:last-child {
  border-left: 1px solid #ff9f4a;
}
.key-name {
  font-size: 30px;
}
